{% extends 'layout.html' %}


{% block title%}
  contact me
{% endblock %}

{% block content %}

          <div class="container mt-4"">

            <div class="col-lg-10 m-auto">

                <div class="card text-center">
                    <div class="card-header">
                      <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">Contact me</a>
                        </li>
                        
                      </ul>
                    </div>
                    <div class="card-body">

                      <div>

                        

                        <div class="text-center mb-3">
                          <h4 class="card-title">Contact me with:</h4>

                          <button data-mdb-ripple-init type="button" class="btn btn-floating mx-1">
                          <a href="#" target="_blank"><i class="fa-solid fa-phone-volume"></i></a>

                            
                          </button>
                  
                          <button data-mdb-ripple-init type="button" class="btn btn-floating mx-1">
                          <a href="#" target="_blank"><i class="fa-solid fa-envelope"></i></a>

                            
                          </button>
                  
                          <button data-mdb-ripple-init type="button" class="btn btn-floating mx-1">
                          <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>

                            
                          </button>
                  
                          <button data-mdb-ripple-init type="button" class="btn btn-floating mx-1">
                          <a href="https://github.com/FahimeMirveisi" target="_blank"><i class="fab fa-github"></i></a>

                            
                          </button>

                          <button data-mdb-ripple-init type="button" class="btn btn-floating mx-1">
                          <a href="https://t.me/Fahime3010" target="_blank"><i class="fab fa-telegram"></i></a>

                            
                          </button>

                          <button data-mdb-ripple-init type="button" class="btn btn-floating mx-1">
                          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>

                            
                          </button>

                        </div>
                      </div>
                      
                      <form method="post">

                        
                        
                        <div class="form-group input-group mb-3 mt-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <input name="email" class="form-control" placeholder="Email address" type="email" aria-describedby="emailHelp">
                        </div> <!-- form-group//email -->
    
    
                        <div class="form-group input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa-solid fa-comment"></i></span>
                            </div>
                            <textarea class="form-control" placeholder="Message"  rows="3" name="message"></textarea>
                        </div> <!-- form-group// message-->
                    
                        <button type="submit" class="btn btn-primary" href="#">send</button>
                      </form>
                      <!-- <a href="#" class="btn btn-primary">submit</a> -->
                    </div>
                  </div> <!-- my register login-->

            </div>
          </div>
          </div>
        
    </div>
    
</div>

{% endblock %}