{% extends 'layout.html' %}


{% block title%}
  home
{% endblock %}

{% block content %}




<div class="row">
<!-- image part-->
<div class="col-sm-6 d-flex justify-content-end">
<img src="static/images/fahime-pic.png" class="img-fluid" alt="fahime photo" width="500" height="300">
</div>

<!-- intro part-->
<div class="col-sm-6">


<div >
  <div class="row">

      <div class="col-twelve">

          <h5>Helloooo</h5>
          <h1><strong>I'm Fahime Mirveisi.</strong></h1>


          <p>
              <ul>

                  <li>Web Developer</li>
                  <li>AI Specialist</li> 

              </ul>
              
          </p>

          

      </div>  
      
  </div>   		 		
</div> <!-- /intro-content --> 

<div class="container">

  <div class="card border-primary mb-3" style="margin-right:500px;">
      <div class="card-header"><h3>Let me introduce myself:</h3></div>
      <div class="card-body text-primary">
        <h5 class="card-title"></h5>
        <p class="card-text lead">I`m Fahime Mirveisi. An aspiring programmer with a passion for learning and creating.<br><br>
          Eager to improve my skills in AI and web programming and contribute to a collaborative team environment.<br><br>
        Developed a simple yet functional Personal Website. Excited to learn from experienced developers and grow my programming expertise!</p>


        <a class="button stroke smoothscroll" href="{{ url_for('download') }}" title=""><button type="button" class="btn btn-info"> Download CV </button></a>
        
      </div>
             
  
</div>

  


</div>

</div>

</div>
{% endblock %}

    