{% extends 'layout.html' %}


{% block title%}
  register
{% endblock %}

{% block content %}

          <div class="container mt-4"">
    
            <div class="col-lg-10 m-auto">

                <div class="card text-center">
                    <div class="card-header">
                      <ul class="nav nav-pills card-header-pills">
                        
                        <li class="nav-item">
                          <a class="nav-link active" href="{{ url_for('register') }}">Register</a>
                        </li>
                        
                      </ul>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Register</h5>
                      <p class="card-text">Don`t have an account?</p>
                      <form method="post">

                        <div class="form-group input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                             </div>
                            <input name="first_name" class="form-control" placeholder="First name" type="text">
                        </div> <!-- form-group// firstname-->

                        <div class="form-group input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                             </div>
                            <input name="last_name" class="form-control" placeholder="Last name" type="text">
                        </div> <!-- form-group// lastname-->
                        
                        <div class="form-group input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <input name="email" class="form-control" placeholder="Email address" type="email" aria-describedby="emailHelp">
                        </div> <!-- form-group//email -->

                        <div class="form-group input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                            </div>
                           
                            <input name="phone" class="form-control" placeholder="Phone number" type="text">
                        </div> <!-- form-group// -->
    
    
                        <div class="form-group input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Create password" type="password" name="password">
                        </div> <!-- form-group// password-->
    
                        <button type="submit" class="btn btn-primary" href="#">sign up</button>
                      </form>
                      <!-- <a href="#" class="btn btn-primary">submit</a> -->
                    </div>
                  </div> <!-- my register-->

            </div>


      </div>

        </div>
        
    </div>
    
</div>

{% endblock %}